{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <h2 class="text-end pb-5">My Cart</h2>
                {% if cart_items %}
                    <div class="table-responsive rounded">
                        <table class="table table-sm table-hover text-end">
                            <thead>
                                <tr>
                                    <th>Base</th>
                                    <th>Material</th>
                                    <th>Unit Price</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            {% for item in cart_items %}
                                <tr>
                                    <td>{{ item.base.size }} {{ item.base.shape }}</td>
                                    <td>{{ item.material.name }}</td>
                                    <td>£{{ item.unit_price|floatformat:2 }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>£{{ item.price|floatformat:2 }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                        <div class="text-end pt-3">
                            <h6><strong>Cart Total: £{{ total|floatformat:2 }}</strong></h6>
                            <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
                            <h4 class="mt-4"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
                            {% if free_delivery_delta > 0 %}
                                <p class="mb-1 text-danger">
                                    You could get free delivery by spending <strong>£{{ free_delivery_delta|floatformat:2 }}</strong> more!
                                </p>
                            {% endif %}
                        </div>
                        <div class="text-end">
                            <a href="{% url 'bases' %}" class="btn">
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <a href="" class="btn btn-filled">
                                <span class="text-uppercase">Secure Checkout</span>
                            </a>
                        </div>
                    </div>
                {% else %}
                    <div class="text-end">
                        <p>Your cart is empty</p>
                        <a href="{% url 'bases' %}" class="btn btn-outline btn-lg">
                            <span class="text-uppercase">View our bases</span>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
