{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center text-center mb-5">
            <div class="col">
                <h1 class="display-4 text-success">Contact Us!</h1>
            </div>
        </div>
        <div class="row justify-content-center text-center mb-4">
            <div class="col-12 col-md-6 justify-content-center">
                <p>
                    If you don't see the base size and specification you require, 
                    or have any other questions or concerns, please don't hesitate 
                    to get in touch through any of the following:
                </p>
                <div class="btn-group-vertical">
                    <a href="mailto:laser@the-mill-house.org.uk" class="btn btn-lg" target="_blank">
                        <img src="media/email_icon.png" alt="Email icon"> laser@the-mill-house.org.uk
                    </a>
                    <a href="https://www.facebook.com/millhouselaser/" class="btn btn-lg" target="_blank">
                        <img src="media/facebook_logo_icon.png" alt="Facebook icon"> Mill House Laser
                    </a>
                    <a href="https://www.instagram.com/millhouselaser/" class="btn btn-lg" target="_blank">
                        <img src="media/instagram_logo_icon.png" alt="Instagram icon"> Mill House Laser
                    </a>
                    <a href="https://wa.me/447971977375" class="btn btn-lg" target="_blank">
                        <img src="media/whatsapp_logo_icon.png" alt="Whatsapp icon"> +44 7971 977375
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
