.cards {
    padding-top: calc(var(--bs-gutter-x) * .5);
    padding-bottom: calc(var(--bs-gutter-x) * .5);
}

.card {
    border-color: darkgreen;
}

.card-body {
    background-color: lightgray;
}

.card-img-top {
    object-fit: contain;
    aspect-ratio: 4 / 3;
}

.btn {
    border-color: darkgreen;
}

.btn-filled {
    color: white;
    background-color: darkgreen;
}

.btn:hover {
    background-color: lightgray;
}

#main-header {
    background-color: darkgreen;
}

#logo-img {
    max-height: 50px;
}

#logo-col {
    padding: 0;
}

#nav-col {
    padding: 0;
    text-align: center;
}

#message-col {
    background-color: black;
    color: white;
}

#body-container {
    padding-top: 56px;
}

input {
    max-width: 48em;
}

@media (min-width: 768px) {
    .title {
        font-size: 2.25em;
    }
}

@media (min-width: 992px) {
    #nav-col {
        width: 100%;
    }
    #body-container {
        padding-top: 106px;
    }
}