{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mb-4">500</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <h4 class="text-muted">The server encountered an unexpected condition that prevented it from fulfilling the request.</h4>
                <a href="{% url 'home' %}" class="btn btn=filled">Return to Homepage</a>
            </div>            
        </div>
    </div>
{% endblock %}